language: c
env:
  global:
  - LUAROCKS=2.3.0
  - LUA=lua5.1
addons:
  apt:
    packages:
    - python3
    - curl
before_install:
- openssl aes-256-cbc -K $encrypted_56943c0e824c_key -iv $encrypted_56943c0e824c_iv
  -in publish.sh.enc -out .travis/publish.sh -d
- source .travis/setenv_lua.sh
install:
- luarocks install moonscript
script:
- bash ./build.sh
after_success:
- bash .travis/publish.sh
notifications:
  irc:
    channels:
    - irc.esper.net#cc.ru
    use_notice: true
    template:
    - "\x0300,01New build on \x02%{repository_slug}\x02!"
    - "\x02%{repository_name}#%{build_number}\x02 [\x1F%{branch}\x1F] \x1F%{message}"
    - "\x02Elapsed time:\x02 %{elapsed_time} | \x02Total duration:\x02 %{duration}"
    - "[\x1F%{commit}\x1F] \x02%{author}\x02: \x16%{commit_message}"
    - "\x02Changes:\x02 %{compare_url}"
    - "\x02Build details:\x02 %{build_url}"
